/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");


/* --- Components design --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/hammam.css");
@import url("components/list.css");

@import url("components/waterbike.css");
@import url("components/thumbnails.css");
@import url("components/testimonial.css");
@import url("components/footer.css");
@import url("components/soinscorps.css");
@import url("components/rituels.css");
@import url("components/price.css");
@import url("components/fonts.css");
@import url("components/spa.css");

.navbar{
	background-color: white;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right:40px;
	padding-left:40px;
}

.part{
  background: url("../../images/soinsvisage/mariagalland.jpg");
  background-size: cover;
}